**/bin/
**/obj/
**/publish/
**/nupkg/
**/.vs/
**/.vscode/
**/node_modules/
*.user
*.suo
.git/
docs/
specs/
commands/
McpPlugin/
McpPlugin.Tests/
McpPlugin.Server.Tests/
DemoConsoleApp/
vscode-extension/
